/* Styles here! */

.navbar{
    background-color: #ff3f10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.navbar .icon img{
    max-height: 30px;
    padding: 0 20px;
}
.navbar .menu-btn{
    display: none;
    padding: 20px 20px;
}
.navbar .logo-endava{
    flex-grow: 1;
}
.navbar .logo-endava img{
    max-height:40px;
    padding: 0 20px;
}
.navbar .menu-bar{
    flex-grow: 3;
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    overflow: hidden;
}
.navbar .search-btn{
    
}

.navbar .close-menu-btn{
    display: none;
}


.navbar ul li a,.navbar .dropbtn {
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.navbar li a:hover, .navbar .dropdown:hover .dropbtn {
    background-color: white;
    color: #ff3f10;
}
.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar .dropdown-content a:hover {
    background-color: white;
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

/*==================== header ========================*/
header{
    background-image: url("../images/background-image.jpg");
    width: 100%;
}
/*==================== content========================*/
.content p{
    max-width: 968px;
    margin: 0 auto;
}
@media (max-width: 400px) { 
    .navbar .menu-btn{
        display: block;
    }
    .navbar .logo-endava{
        display: none;
    }
    .navbar .menu-bar{
        display: none;
    }
    .navbar .search-btn{
        display: none;
    }
    .navbar .close-menu-btn{
        display: none;
    }
 }