body{
    font-family: Oswald, Arial;
}
.navbar{
    background-color: #ff3f10;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
}
.navbar .icon button{
    border: none;
    background-color: transparent;
    outline: none;
}
.navbar .icon button:focus{
    border: none;
}
.navbar .icon img{
    max-height: 25px;
    padding: 0 20px;
}
.navbar .menu-btn{
    display: none;
    padding: 20px 0;
}
.navbar .logo-endava{
    flex-grow: 1;
}
.navbar .logo-endava img{
    max-height:35px;
    padding: 0 20px;
}
.navbar .search-bar{
    display: none;
    width: 40%;
}
.navbar .search-bar.visible{
    display: block;
    animation-duration: 1s;
    animation-name: widthSlide;
}

.navbar .search-bar input{
    margin: 20px 0;
    width: 100%;
    border:none;
    outline: none;
    background-color: transparent;
    color:#fff;
    border-bottom: 1px solid #fff;
}
.navbar .search-bar input::placeholder{
    color:#fff;
}
.navbar .search-btn{
    display: block;
}
.navbar .close-menu-btn{
    display: none;
}

/*==================== menu list ========================*/
.navbar nav{
    flex-grow: 3;
}
.navbar .menu-bar{
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    overflow: hidden;
}
.navbar .menu-bar li>a{
    font-size: 24px;
    line-height: 48px;
    font-weight: 700; 
    position: relative;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 6px 25px;
    text-decoration: none;
}
.navbar .menu-bar li a:hover{
    background-color: #fff;
    color: #ff3f10;
}
.navbar .menu-bar li .dropbtn i{
    display: none;
}
.navbar .menu-bar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 230px;
    z-index: 1;
}
.navbar .menu-bar .dropdown .visible {
    display: block;
}


.navbar .menu-bar .dropdown-content a {
    font-size: 17px;
    line-height: 36px;
    font-weight: 400;
    font-style: italic;
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .menu-bar.hidden{
    display: none;
}

/*==================== main ========================*/
main{
    position: relative;
}
main .background{
    display: grid;
    background-color: #000;
}
main img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    -moz-opacity: 0.5;
}
main .title{
    width: 100%;
    position: absolute;
    color: #fff;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
}
main .title h1{
    margin: 30px 0;
    max-width: 600px;
    font-size: 94px;
    line-height: 94px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
main .title .line{
    background-color: #ff3f10;
    width: 80px;
    height: 8px;
}

/*==================== content========================*/
.content p{
    font-family: Arial;
    font-size: 18px;
    line-height: 24px;
    margin: 20px auto;
    max-width: 968px;
}
/*==================== legal========================*/
.legal{
    display: none;
}
/*==================== On mobile========================*/
@media (max-width: 930px) {
    .mobile-background-menu.visible{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }
    .navbar{
        position: relative;
    }
    .navbar .menu-btn{
        display: block;
    }
    .navbar .menu-btn.hidden{
        display: none;
    }
    .navbar .logo-endava{
        display: none;
    }
    .navbar .logo-endava.visible{
        display: block;
    }
    .navbar .menu-bar{
        display: none;
    }
    .navbar .menu-bar.visible{
        display: flex;
        height: 100vh;
        animation-duration: 0.5s;
        animation-name: widthSlide;
    }
    .navbar .search-btn{
        display: none;
    }
    .navbar .close-menu-btn{
        display: none;
    }
    .navbar .close-menu-btn.visible{
        display: block;
    }
    /*==================== menu mobile ========================*/
    .navbar nav{
        width: 80%;
        position: absolute;
        top: 100%;
        z-index: 2;
    }
    .navbar .menu-bar{
        width: 100%;
        flex-direction: column;
        background-color: #fff;
    }
    .navbar .menu-bar li>a{
        font-size: 20px;
        line-height: 40px;
        color: #000;
    }
    .navbar .menu-bar li .dropbtn i{
        display: inline-block;
        padding: 0 20px;
        color:#ff3f10;
        transition: transform .8s ease-in-out;
        -o-transition: -o-transform .8s ease-in-out;
        -moz-transition: -moz-transform .8s ease-in-out;
        -webkit-transition: -webkit-transform .8s ease-in-out;
    }
    .navbar .menu-bar li .dropbtn .rotate{
        transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
    }
    .navbar .menu-bar .dropdown-content {
        display: none;
        padding: 0 35px;
        position: initial;
        box-shadow: none;
        z-index: 1;
    }
    .navbar .menu-bar .dropdown-content.visible {
        display: block;
    }
    .navbar .menu-bar .dropdown-content a {
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        font-style: italic;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    .navbar .menu-bar.hidden{
        display: none;
    }
    /*==================== main mobile========================*/
    main .title{
        position: initial;
        color:#000;
    }
    main .title h1{
        padding: 20px;
        max-width: initial;
        font-size: 32px;
        line-height: 39px;
        text-align: left;
    }
    main .title .line{
        display: none;
    }
    /*==================== content========================*/
    .content p{
        font-family: Arial;
        font-size: 14px;
        line-height: 21px;
        margin: 0 auto;
        padding: 20px;
        max-width: 968px;
    }
    /*==================== legal========================*/
    footer{
        position: relative;
    }
    .legal.visible{        
        display: initial;
        padding: 0 20px;
        position: absolute;
        z-index: 3;
        animation-duration: 0.5s;
        animation-name: widthSlide;
    }
}
@keyframes widthSlide {
  from {
    width: 0%;
  }
}

